@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html,
body {
  background-color: #09090b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
}

#clock {
  color: #666666;
}
